recursive-include native *.hs *.rs *.cabal cabal.project Cargo.toml Cargo.lock
recursive-include native/symbolic-core *.md
prune native/symbolic-core/dist-newstyle
recursive-include scripts *
recursive-include editor *.el *.js *.json *.md
recursive-include tests *.py
recursive-include tests *.agda *.lagda.md
recursive-include docs *.md
recursive-include examples *.agda
recursive-include schemas *.md *.json
include THIRD_PARTY_NOTICES.md
include LICENSE AUTHORS.md
include editor/vscode/LICENSE
recursive-include licenses *.txt
global-exclude *.pyc *.agdai *.elc
